<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

    <head>
        <title>{% block tiitle %}Adiciones UPC{% endblock %}</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../estaticos/rosetta/images/favicon.ico" rel="icon">
        <link rel="stylesheet" type="text/css" href="../estaticos/rosetta/css/master.css">




    </head>

    <body>
        <!--<div id="page-preloader"><span class="spinner"></span></div>
        <!-- Navigation -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <header class="header">
            <nav id="nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
                <div class="container relative-nav-container">
                    <a class="toggle-button visible-xs-block" data-toggle="collapse" data-target="#navbar-collapse">
                        <i class="fa fa-navicon"></i>
                    </a>
                    <a class="navbar-brand scroll" href="index.html">
                        <img class="normal-logo hidden-xs" src="../estaticos/rosetta/images/logo.png" alt="logo"/>
                        <img class="inverse-logo hidden-xs" src="../estaticos/rosetta/images/logo-sign.png" alt="logo"/>
                        <img class="visible-xs-block" src="../estaticos/rosetta/images/logo-sign2.png" width="40" height="44" alt="logo"/>
                    </a>
                    <ul class="nav navbar-nav navbar-right nav-icons wrap-user-control">
                        <li class="open-signup">
                            <a href="#fakelink"><i class="fa fa-user"></i></a>
                            <div class="wrap-login-signup">
                                <div role="tabpanel">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs-alt nav-tabs-one" role="tablist">
                                        <li role="presentation" class="active"><a  href="#signup" aria-controls="signup" role="tab" data-toggle="tab">Sign Up</a></li>
                                        <li role="presentation"><a href="#login" aria-controls="login" role="tab" data-toggle="tab">Log In</a></li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div role="tabpanel" class="tab-pane active text-center" id="signup">
                                            login
                                        </div>
                                        <div role="tabpanel" class="tab-pane" id="login">

                                            <div class="signup-content">
                                                log
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="navbar-collapse collapse floated" id="navbar-collapse">
                        <ul class="nav navbar-nav navbar-with-inside clearfix navbar-right with-border">  <li class=" ">
                                <a href="/index">Inicio</a>
                        </li>
                             <li><a href="/crearestudiante#estudiante">Registrarse</a></li>
                             <li><a href="price.html">Adiciones</a></li>
                            <li><a href="price.html">Materias</a></li>

                            </li>

                        </ul>
                    </div>
                </div>

            </nav>
        </header><!--/.header -->
        <!-- fin navegation-->

        <!-- Home - Header -->
        <section class="elements-header dark">
            <div class="header-caption">
                <img src="../estaticos/rosetta/images/unicesar.png">
            </div>
        </section>
         <!-- fin Home - Header -->

       <!--Inicio contenedor -->
        <section class="container">
            <div class="row">
                <a name="estudiante">
                    <div class="col-lg-6">
                        {% block content %}
                        {% endblock %}
                    </div>
                </a>

            </div>
        </section>
         <!--Fin contenedor -->


        <!-- inicio Divisor -->
        <div class="divider">
                <div class="striped-icon">
                    <i class="fa fa-chevron-down"></i>
                </div>
            </div>
        <!--Fin Divisor -->


        <!--ir a otra seccion con divisor -->
        <section class="steps" id="prueba">
                 <a class="striped-icon divider scroll" href="#prueba">
                <i class="fa fa-chevron-down"></i>
            </a>
        </section>
        <!-- fin ir a otra seccion con divisor -->


        <!-- Footer - Tabs -->
        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <footer>
            <!-- Contacts One -->
            <!-- ++++++++++++++++++++++++++++++++++++++++ -->
            <section class="contacts">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <article class="contacts-block bottom-border">
                                <h5>Contacto</h5>
                                <ul>
                                    <li>
                                        <a href="https://www.google.com.co/maps/place/Universidad+Popular+del+Cesar/@10.4510958,-73.2614105,17z/data=!3m1!4b1!4m2!3m1!1s0x0:0x33b7ac0230aeb03a"><p><i class="fa fa-map-marker" ></i>Tv. 29, Valledupar, Cesar</p></a>
                                    </li>
                                    <li>
                                        <p><i class="fa fa-phone"></i>3012524361</p>
                                    </li>
                                    <li>
                                        <p><i class="fa fa-envelope"></i><a href="#"everlm17@gmail.com</a>everlm17@gmail.com</p>

                                    </li>
                                </ul>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <article class="twitter-block bottom-border">
                                <h5 class="offset">Twitter <a href="#fakelink"><i class="fa fa-undo pull-right"></i></a></h5>
                                <div class="twitter-wrap offset left-border">
                                    <p><strong>&#64;Everlm1</strong> Inicio de entrada a la Universidad 22 Agosto 2015<br> <span>2 days ago</span></p>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-4">
                            <article class="subscribe-info">
                                <h5 class="offset">Subscribe</h5>
                                <div class="subscribe-wrap offset left-border">
                                    <form>
                                        <label for="contacts-email">Esta al tanto de las noticias</label>
                                        <div class="form-group has-feedback">
                                            <input type="email" class="form-control " id="contacts-email" placeholder="Enter email">
                                            <i class="fa fa-pencil-square fa-lg form-control-feedback"></i>
                                        </div>
                                    </form>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </section>

           <!-- Copyright One-->
            <!-- ++++++++++++++++++++++++++++++++++++++++ -->
            <section class="copyright">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <p>&copy; Copyright todos los derechos reservados 2015</p>
                        </div>
                        <div class="col-md-6">
                            <ul class="copyright-links list-inline">
                                <li><a href="#fakelink"><i class="icon-circle icon-facebook"></i></a></li>
                                <li><a href="#fakelink"><i class="icon-circle icon-twitter"></i></a></li>
                                <li><a href="#fakelink"><i class="icon-circle icon-youtube-play"></i></a></li>
                                <li><a href="#fakelink"><i class="icon-circle icon-google-plus"></i></a></li>
                                <li><a href="#fakelink"><i class="icon-circle icon-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </footer>

        <!-- ++++++++++++++++++++++++++++++++++++++++ -->
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
         <script src='https://www.google.com/recaptcha/api.js'></script>
        <script src="https://www.google.com/recaptcha/api.js" async defer></script>
        <script src="../estaticos/rosetta/js/jquery-1.11.1.min.js"></script>
        <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
        <!-- Include BOOTSTRAP plugins  -->
        <script src="../estaticos/rosetta/js/bootstrap.min.js"></script>
        <!-- Include plugins --> 
        <script src="../estaticos/rosetta/js/jquery.mb.YTPlayer.js"></script>
        <script src="../estaticos/rosetta/js/isotope.pkgd.min.js"></script>
        <script src="../estaticos/rosetta/js/owl.carousel.min.js"></script>
        <script src="../estaticos/rosetta/js/jquery.scrollTo.min.js"></script>
        <script src="../estaticos/rosetta/js/jquery.ui.effect.min.js"></script>
        <script src="../estaticos/rosetta/js/contact.js"></script>
        <script src="../estaticos/rosetta/js/modernizr.js"></script>
        <script src="../estaticos/rosetta/js/jquery.waypoints.min.js"></script>
        <script src="../estaticos/rosetta/js/fancybox/jquery.fancybox.js"></script>
        <script src="../estaticos/rosetta/js/wow.min.js"></script>
        <script>
            new WOW().init();
            (function($) {
                $(document).ready(function() {
                    if (!Modernizr.touch) {
                        $(".player").mb_YTPlayer();
                    } else {
                        $('.video-bg ').css('display', 'block');
                    }
                });
            })(jQuery);
        </script>
        <script>
            new WOW().init();
        </script>
        <!-- Google maps -->    
        <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
        <script src="../estaticos/rosetta/js/map.js"></script>
        <!-- Include local script calls -->  
        <script src="../estaticos/rosetta/js/jquery.easypiechart.min.js"></script>
        <script src="../estaticos/rosetta/js/TweenMax.min.js"></script>
        <script src="../estaticos/rosetta/js/highcharts.js"></script>
        <script src="../estaticos/rosetta/js/Chart.min.js"></script>
        <script src="../estaticos/rosetta/js/custom.js"></script>
    </body>
</html>
