{% extends "base.html" %}
{% block content %}

    <h4 class="section-header">Registre sus datos</h4>
        <div class="container.fluid" >
        <div class="col-lg-">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Registro Estudiante</h3>
                </div>
                <div class="panel-body">
                    <form  class="form-horizontal" role="form" method="POST" action=".">
                        <fieldset>
                        {% csrf_token %}

                        <label>Seleccione programa :</label>{{ form.programa }}
                        <br><label>Identificacion :</label>{{ form.codigo }}
                        <br><label>Primer nombre :</label>{{ form.primer_nombre }}
                        <br><label>Segundo nombre :</label>{{ form.segundo_nombre }}
                        <br><label>Primer apellido :</label>{{ form.primer_apellido }}
                        <br><label>Segundo apellido :</label>{{ form.segundo_apellido }}
                        <br><label>Email:</label>{{ form.correo }}
                        <br/>
                    <input type="submit" value="Grabar" class="btn btn-primary btn-sm"name="_save">
                         </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
<br>


{% endblock %}

