<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
     <div class="panel-heading">Informacion Programa</div>
        <div class="panel-body">
            <table class="table table-striped no-margn">
                <thead>
                    <tr>
                        <th>codigo</th>
                        <th>nombre</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ object.codigo }}</td>
                        <td>{{ object.nombre }}</td>
                    </tr>

                </tbody>
            </table>

        </div>
     </div>
     <div style="text-align: right">
        <a href="/">
            <button type="button" class="btn btn-warning">regresar</button>
        </a>
     </div>


</body>
</html>